<?xml version="1.0"?>
<!--
/**
 * @category    M2Commerce Enterprise
 * @package     M2Commerce_DeleteOrders
 * @copyright   Copyright (c) 2023 M2Commerce Enterprise
 * @author      dawoodgondaldev@gmail.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Sales\Block\Adminhtml\Order\View">
        <plugin name="add.button.delete" type="M2Commerce\DeleteOrders\Plugin\Order\AddDeleteButton"/>
    </type>
    <type name="Magento\Ui\Component\MassAction">
        <plugin name="add.massaction.delete" type="M2Commerce\DeleteOrders\Plugin\Order\AddDeleteAction"/>
    </type>
</config>
